/.cask/
/melpa/
/installation-output.txt
/node_modules/
/test/MinimalSolution/minimal/.ecukes-failing-scenarios
# backup files by emacs
/test/MinimalSolution/minimal/#*
/omnisharp-roslyn/
/test/MinimalSolution/minimal/RenameFileTest.cs
